# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Terraform variable files
terraform/*.tfvars
terraform/*.tfvars.json

# SSH private keys
*.pem
*.key
*.pub

# Ansible
ansible/*.retry

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*
